<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Say Hello</a>
        </li>
        <li>
            <a href="#">Printer</a>
        </li>
    </ul>
</nav>